<main>
  <h2>Find your event</h2>
  <div class="searcher">
<!--     <img id="main-search-icon" src="assets/images/search.png" alt="search-icon">-->
      <input class="search" name="search" type="text" placeholder="Search..." [(ngModel)]="searchKeyword" (input)="performSearch()">
<!--      <ul class="city-list">-->
<!--        <li>Lviv</li>-->
<!--      </ul>-->
  </div>
  <div class="content-area">
    <ul class="list-events" *ngFor="let event of filteredEvents" (click)="openTicketPage(event)">
      <li class="ticket-item">
        <div class="row-container">
          <p>Event:</p>
          <p class="event-name">{{event.EventName}}</p>
        </div>
        <div class="row-container">
          <p>Time:</p>
          <p class="date-time">{{event.Time}}</p>
        </div>
        <div class="row-container">
          <p>Location:</p>
          <p class="location">{{event.Location+', '}}{{event.City}}</p>
        </div>
        <div class="row-container">
          <p>Price:</p>
          <p class="price">{{event.Price+'$'}}</p>
        </div>
      </li>
    </ul>
  </div>
</main>
